<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CyberShaala</display-name>
  <welcome-file-list>
    <welcome-file>index1.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>tempfile.dir</param-name>
    <param-value>tmpfiles</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>MaterialControllerServlet</display-name>
    <servlet-name>MaterialControllerServlet</servlet-name>
    <servlet-class>com.cybershaala.servlets.MaterialControllerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>mainservlet</servlet-name>
    <servlet-class>com.cybershaala.servlets.MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mainservlet</servlet-name>
    <url-pattern>/mainservlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>homepage</servlet-name>
    <jsp-file>/homepage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>homepage</servlet-name>
    <url-pattern>/homepage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MaterialControllerServlet</servlet-name>
    <url-pattern>/material</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>searchresult</servlet-name>
    <jsp-file>/searchresult.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchresult</servlet-name>
    <url-pattern>/searchresult</url-pattern>
  </servlet-mapping>
    <servlet>
  <servlet-name>updateuserpage</servlet-name>
    <jsp-file>/updateuserpage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateuserpage</servlet-name>
    <url-pattern>/updateuserpage</url-pattern>
  </servlet-mapping>
   
  <servlet>
  <servlet-name>materialcommentpage</servlet-name>
    <jsp-file>/materialcommentpage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>materialcommentpage</servlet-name>
    <url-pattern>/materialcommentpage</url-pattern>
  </servlet-mapping>
</web-app>